<a href="https://colab.research.google.com/github/prithvikolla/Data-Visualization/blob/main/Data-Visualization/Final%20Project/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem Statements:
1. is Trump liked more or Biden?
2. Trump vs Biden Tweet count in India?
3. Trump or Biden, who has more positive tweets?

In [1]:
#Twitter 2020 US Election data
import pandas as pd
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_Trump = pd.read_csv('/content/hashtag_donaldtrump.csv',lineterminator='\n')
df_Biden = pd.read_csv('/content/hashtag_joebiden.csv',lineterminator='\n')

In [3]:
df_Trump.head()

            created_at      tweet_id  ... state_code                   collected_at
0  2020-10-15 00:00:01  1.316529e+18  ...         FL            2020-10-21 00:00:00
1  2020-10-15 00:00:01  1.316529e+18  ...        NaN  2020-10-21 00:00:00.373216530
2  2020-10-15 00:00:02  1.316529e+18  ...         OR  2020-10-21 00:00:00.746433060
3  2020-10-15 00:00:02  1.316529e+18  ...        NaN  2020-10-21 00:00:01.119649591
4  2020-10-15 00:00:08  1.316529e+18  ...         DC  2020-10-21 00:00:01.492866121

[5 rows x 21 columns]

In [4]:
df_Biden.head()

            created_at      tweet_id  ... state_code                   collected_at
0  2020-10-15 00:00:01  1.316529e+18  ...         FL            2020-10-21 00:00:00
1  2020-10-15 00:00:18  1.316529e+18  ...        NaN  2020-10-21 00:00:00.517827283
2  2020-10-15 00:00:20  1.316529e+18  ...         MT  2020-10-21 00:00:01.035654566
3  2020-10-15 00:00:21  1.316529e+18  ...        NaN  2020-10-21 00:00:01.553481849
4  2020-10-15 00:00:22  1.316529e+18  ...         CA  2020-10-21 00:00:02.071309132

[5 rows x 21 columns]

In [5]:
df_Biden1 = df_Biden[:10000]
df_Biden1.head(2)

            created_at      tweet_id  ... state_code                   collected_at
0  2020-10-15 00:00:01  1.316529e+18  ...         FL            2020-10-21 00:00:00
1  2020-10-15 00:00:18  1.316529e+18  ...        NaN  2020-10-21 00:00:00.517827283

[2 rows x 21 columns]

In [6]:
df_Trump1 = df_Trump[:10000]
df_Trump1.head(2)

            created_at      tweet_id  ... state_code                   collected_at
0  2020-10-15 00:00:01  1.316529e+18  ...         FL            2020-10-21 00:00:00
1  2020-10-15 00:00:01  1.316529e+18  ...        NaN  2020-10-21 00:00:00.373216530

[2 rows x 21 columns]

In [8]:
#Remove the columns not used
df_Trump1 = df_Trump1.drop(columns = ['tweet_id','collected_at','user_description','collected_at'])
df_Biden1 = df_Biden1.drop(columns = ['tweet_id','collected_at','user_description','collected_at'])

In [9]:
df_Trump1.loc[:,'condidat'] = 'Trump'
df_Biden1.loc[:,'condidat'] = 'Biden'

In [10]:
df_Mix = pd.concat([df_Trump1,df_Biden1])
df_Mix.sort_values(by='created_at')
df_Mix.head()

            created_at  ... condidat
0  2020-10-15 00:00:01  ...    Trump
1  2020-10-15 00:00:01  ...    Trump
2  2020-10-15 00:00:02  ...    Trump
3  2020-10-15 00:00:02  ...    Trump
4  2020-10-15 00:00:08  ...    Trump

[5 rows x 19 columns]

In [ ]:
Trump_tweets = Data_Mixed.query('(condidat == "Trump")').tweet.sort_values(ascending=False).count()
Biden_tweets = Data_Mixed.query('(condidat == "Biden")').tweet.sort_values(ascending=False).count()

objects = ('Donald Trump','Joe Biden')
y_pos = np.arange(len(objects))
performance = [Trump_tweets,Biden_tweets]

plt.bar(y_pos, performance, align='center', alpha=0.5)
plt.xticks(y_pos, objects)
plt.ylabel('Number of tweets')
plt.title('Donald vs Biden')

plt.show()